body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  padding: 15px;
  background: whitesmoke;
  margin: 2px;
  width: 50px;
  text-align: center;
  float: left;
  cursor: pointer;
  user-select: none;
}

.buttonRow {
  display: flex;
}

#calculator {
  background: rgba(222, 222, 222, 0.74);
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

#display {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
  text-align: right;
}

#result {
  color: #282c34;
  font-size: 1.7em;
}

#secondaryResult {
  color: grey;
  height: 15px;
}

